@import url("https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap");
@import "reset.css";
@import "setting.css";
@import "add.css";
@import "edit.css";
@import "calender.css";
@import "main.css";
@import "variables.css";
@import "delay.css";
@import "content.css";
body {
  min-height: 100vh;
  min-width: 100vh;
  font-family: "Gowun Dodum", sans-serif;
  display: flex;
  justify-content: center;
  width: 100%;
}

@media screen and (max-width: 1040px) {
  .main-screen {
    width: 100%;
  }
  .calender {
    display: none;
  }
}
